* {
  font-family: 'Poppins';
  font-size: 1em;
}

.close {
  color: #ff4778 !important;
}

a:hover {
  color: whitesmoke !important;
}

#myNavbar {
  /* background-color: #18096e !important; */
  background-color: #36174d !important;
}

#logo {
  color: #ff4778;
}

#navbarDropdown {
  color: whitesmoke;
}

.dropdown-menu {
  background-color: #36174d !important;
}

.dropdown-item {
  color: rgba(255, 71, 120, 0.9) !important;
}

.dropdown-item:hover {
  background-color: rgb(31, 10, 48) !important;
  color: rgba(255, 71, 120, 0.9) !important;
}

#startBtn {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #674ff1;
}

#startBtn:hover {
  color: #fff;
  background-color: #674ff1;
  background-image: none;
  border-color: #674ff1;
}

#clearBtn {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #ff4778;
}

#clearBtn:hover {
  color: #000;
  background-color: #ff4778;
  background-image: none;
  border-color: #ff4778;
}

#tutorial-btn {
  color: #fff;
  background-color: #ff4778;
  background-image: none;
  border-color: #ff4778;
}

#tutorial-btn:hover {
  color: #fff;
  background-color: rgba(255, 71, 120, 0.8);
  background-image: none;
}

/* TUTORIAL MODAL */

.modal-title {
  font-size: 1.2rem;
}

.modal-content {
  background-color: #36174d !important;
}

.modal-header {
  background-color: rgb(31, 10, 48) !important;
  color: #ff4778 !important;
  border-bottom: 1px solid #36174d !important;
}

.modal-footer {
  border-top: 1px solid #36174d !important;
}

.modal-body {
  color: #ff4778 !important;
}

.card-body {
  background-color: rgb(31, 10, 48) !important;
  border-radius: 10px;
}

.card-title {
  font-size: 0.9em;
}

.card-text {
  font-size: 0.8em;
}

/* --------------------------------------------------------------------------- */

body {
  padding-top: 80px;
  height: 100%;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 20px;
  height: 20px;
}

.key {
  border: 1px solid rgba(0, 0, 0, 0.35);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
}

.btn-space {
  margin-right: 5px;
}

#update {
  margin-bottom: 15px;
  margin-top: 10px;
}

.wall {
  transition: background-color 0.1s ease-in-out;
  background-color: #342e44;
  border-color: #342e44;
}

.none {
  transition: background-color 0.1s ease-in-out;
  background-color: white;
  border-color: #79d9ce;
}

.searching {
  transition: background-color 0.08s ease-in-out;
  background-color: #36174d;
  border-color: #36174d;
}

.visited {
  transition: background-color 0.08s ease-in-out;
  background-color: #ff4778;
  border-color: #ff4778;
}

.success {
  transition: background-color 0.08s ease-in-out;
  background-color: #ffea00;
  border-color: #ffea00;
}

.start {
  background-color: rgb(171, 235, 125);
  border-color: rgb(171, 235, 125);
}

.end {
  /* background-color: #5215fc;
  border-color: #5215fc; */
  background-color: #ee4540;
  border-color: #ee4540;
}

#bigTableContainer {
  margin-top: 30px;
}

.custom-section {
  margin-bottom: 20px;
}

#modalTitleContainer {
  padding-top: 10px;
}

#results {
  height: 100px;
  width: 135px;
  background-color: rgb(54, 23, 77) !important;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: whitesmoke;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  /* border: 1px dashed black; */
}

#resultsIcon {
  margin-bottom: 3px;
  margin-top: 7px;
  font-size: 16px;
}

#duration,
#length {
  padding: 3px;
}

#infoModalBtn {
  margin-left: 20px;
}
